.gallery {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
}

.gallery-item {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.gallery-img {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .gallery-item.landscape {
        grid-column: span 2;
    }

    .gallery-item.portrait {
        grid-column: span 1;
    }
}
