$scrollbar-width: 15px;
$scrollbar-track: #1e1e1e;
$scrollbar-thumb: #555;
$scrollbar-thumb-hover: #888;

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb;
  border-radius: 6px;
  border: 2px solid $scrollbar-track;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover;
}

/* Firefox */
* {
  scrollbar-width: thin; // auto | thin | none
  scrollbar-color: #{$scrollbar-thumb} #{$scrollbar-track};
}
