on:
  # on push to main
  push:
    branches: ['main']

  # every monday
  schedule:
    - cron: '0 1 * * 1'

  # manual
  workflow_dispatch:

name: Build and deploy GH Pages
env:
  GRAPHQL_GITHUB_TOKEN : ${{ secrets.GRAPHQL_GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v17
        with:
            github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Prebuild phase
        run: nix develop --command make ci

      - name: Build and Deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
